# Note we depend on NODE_ENV being set to dictate
# which of the env variables below get loaded at runtime.
# See README for more details.

# Application Port - express server listens on this port (default 3000).
PORT=3000
SLACK_OPTIONS='{"T0001":{"id":"T0001","api_token":"bar","domain":"test-sub-domain"}}'
# https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_OPTIONS='{"T0001":{"username":"test@example.com","api_token":"bar","host":"https://example.com"}}'
SUPPORT_OPTIONS='{"T0001":{"channel_id":"foo","config_name":"default"}}'
SESSION_SECRET='set your secret here please'
REDIS_URL='redis://localhost'
