# Note we depend on NODE_ENV being set to dictate
# which of the env variables below get loaded at runtime.
# See README for more details.

# Application Port - express server listens on this port (default 3000).
PORT=3000
SLACK_API_TOKEN=
SLACK_TEAMS='{"teamid":{"support_channel_id":"foo"}}'
# https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_API_TOKEN=
JIRA_USERNAME=
JIRA_HOST=
SESSION_SECRET='set your secret here please'
